p::first-letter {
    color: darkgoldenrod;
}

p {
    font-size: 25px;
}

p::first-line {
    color: blue;
}

h1::before {
    content: "'";
    background-color: aqua
}

h1::after {
    content: "'";
    background-color: chartreuse;
}