/* Make the text looklike normal text without underline */
/* a { text-decoration: none;} */

/* target attribute key */
/* a[title] { color: black; } */

/* attribute with value - Key & Value pair combination */

/* a[href="http://google.com"]{ color:red; } */

/* white spaced text */
/* a[class~="portal"]{ font-weight: bold;} */

/* actual value or starts with value followed by hypen */

/* a[class|="list"]{ text-decoration-line: overline;} */

/* prefix value */

/* a[href^="http://"]{ text-transform: capitalize;} */

/* suffix value */

/* a[href$=".com"]{ border: 1px dashed #000000;} */

/* contains value */

/* a[class*="mail"]{text-transform: uppercase;} */

/* contains value with case Insensitivity */

/* a[class*="jobportal" i]{font-size: 40px;;} */

/* Adjacent sibling combinator */

/* div + article {
    text-decoration: underline;
} */

/* General sibling combination */

/* div ~ article {
    text-decoration: underline;
} */

/* child comibinator */

/* div>span {
    background-color: dodgerblue;
}

span {
    background-color: aqua;
} */
